html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#linkHome{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 0.9rem;
    cursor: pointer;
}

.select {
    height: 50%;
    width: 100vw;
    color: rgba(0, 0, 0, 0.3);
    font-size: 3rem;
    cursor: pointer;
}

.arrows{
    color: rgba(255, 255, 255, 0.5);
}

#title {
    height: 25vh;
    color: rgba(255, 255, 255, 0.8);
}

#timeDo {
    color: rgba(0, 0, 0, 0.4);
}

#field {
    height: 50vh;
    width: 30vw;
    margin: 0 auto;
    
}

#limits,
#field-size {
    height: 100%;
}

.lines {
    height: 33.35%;
}

.squares {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-bottom: none;
    border-right: none;
}

#square-1,
#square-4,
#square-7 {
    border-left: none;
}

#square-1,
#square-2,
#square-3 {
    border-top: none;
}

.colorX {
    color: rgba(0, 0, 0, 0.6)
}
.colorO {
    color: rgba(58, 75, 83, 0.7)
}
.colorV {
    color: rgba(244, 67, 54, 0.7);
}
.colorWin{
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
}

#rodape {
    height: 20vh;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
}

#placar{
    height: 50%;
    margin-top: 1vh;
}

#placarO,
#placarX{
    height: 10vh;
}

@keyframes movimentArrows {
    from{

    }to{

    }
}

i {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.8);
}
/* Media Queries */
@media (max-width: 575.98px) {
    #field {
        height: 35vh;
        width: 70vw;
    }
    #rodape {
        height: 35vh;
    }
    #placar{
        height: 30%;
    }
}